<ul>
    <li> <a routerLink="/add">
      Add data 
    </a></li>
    <li> <a routerLink="/delete">
      Delete data 
    </a></li>
    <li> <a routerLink="/update">
      Update data 
    </a></li>
    <li> <a routerLink="/view">
      View data 
    </a></li>
  </ul>
  <!DOCTYPE html>
  <html>
 
  <body>
  
  <h2>View Data </h2>
  
  <table>
    <tr>
      <th>Year</th>
      <th>Population</th>
      <th>GDP per capita</th>
      <th>Domestic Consumer Account</th>
      <th>GDP for agriculture sector</th>
      <th>GDP for service sector</th>
      <th>Average Electricity price</th>
    </tr>
    <tr>
      <td>1995</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
    </tr>
    <tr>
      <td>1996</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
      <td>xxx</td>
    </tr>
  
  </table>
  
  </body>
  </html>