
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add Data 
  </a></li>
  <li> <a routerLink="/delete">
    Delete Data 
  </a></li>
  <li> <a routerLink="/update">
    Update Data 
  </a></li>
  <li> <a routerLink="/view">
    View Data 
  </a></li>
</ul>

<div>
  <table>
    <tr>
      <th>Year</th>
      <th>Population</th>
      <th>GDP per Capita</th>
      <th>Domestic Consumer Account</th>
      <th>GDP (agriculture)</th>
      <th>GDP (service)</th>
      <th>Avg Electricity Price</th>
    </tr>
    <tr *ngFor="let items of pets">
      <td>{{items.name}}</td>
      <td>{{items.species}}</td>
      <td>{{items.breed}}</td>
    </tr>
  </table>
  
 </div>