
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add Data 
  </a></li>
  <li> <a routerLink="/delete">
    Delete Data 
  </a></li>
  <li> <a routerLink="/update">
    Update Data 
  </a></li>
  <li> <a routerLink="/view">
    View Data 
  </a></li>
</ul>

<div>
  <br>
  <br>
  <div>
    <table>
      <tr>
        <th>Year</th>
        <th>Population</th>
        <th>Domestic Consumer</th>
        <th>GDP per Capita</th>
        <th>GDP (Agriculture)</th>
        <th>GDP (Service)</th>
        <th>Avg Electricity Price</th>
        <th>Electricity Sales</th>
      </tr>
      <tr *ngFor="let items of data">
        <td>{{items.year}}</td>
        <td>{{items.population}}</td>
        <td>{{items.domesticConsumer}}</td>
        <td>{{items.gdpperCap}}</td>
        <td>{{items.gdpagri}}</td>
        <td>{{items.gdpservice}}</td>
        <td>{{items.avgElectricity}}</td>
        <td>{{items.eSales}}</td>
      </tr>
    </table>
  
 </div>