
<!DOCTYPE html>
<html>

<body>
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add data 
  </a></li>
  <li> <a routerLink="/delete">
    Delete data 
  </a></li>
  <li> <a routerLink="/update">
    Update data 
  </a></li>
  <li> <a routerLink="/view">
    View data 
  </a></li>
</ul>
<div class="container">
  <h1>Enter details to update data  </h1>
  <form >
    <div class="form-group">
      <label for="name">Year *</label>
      <select class="form-control" id="year" required>
        
      </select>
    </div>

    <div class="form-group">
      <label for="alterEgo">Population *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">GDP per capita *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Domestic Consumer Account*</label>
      <input type="text" class="form-control" id="alterEgo" required >
    </div>

    <div class="form-group">
      <label for="alterEgo">GDP for Agriculture Sector*</label>
      <input type="text" class="form-control" id="alterEgo" required >
    </div>
   
    <div class="form-group">
      <label for="alterEgo">GDP for Service Sector *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Average Electricty Price *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>



    <button type="submit" class="btn btn-success button">Submit</button>
    <button type="reset" class="btn btn-success button" value="Reset">Reset</button>
  </form>
</div>

</body>
</html>
