######################
#       Common       #
######################

# compiled output
dist/
public/
temp/

# testing
coverage

# dependencies
node_modules/


# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

######################
#   Client ignores   #
######################

# compiled output
client/out-tsc

# Only exists if Bazel was run
client/bazel-out

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
**/.sass-cache
**/connect.lock
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings

# System Files
.DS_Store
Thumbs.db
