* {
  box-sizing: border-box;
}

body {
  padding: 5%;
  font-family: "Montserrat";
}

.title-dashboard {
  h2 {
    text-align: center;
    font-family: "Montserrat";
  }
}

// mat-grid-tile {
// }
// mat-grid-list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-top: 4%;
//   padding: 0;
//   text-align: center;


//   mat-card {
//     position: relative;

//     .image_container {
//       padding: 5%;
//     }
//   }

//     @media (max-width: 550px) {
//     flex-direction: column;
//   }
// }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%;
  padding: 0;
  text-align: center;

  @media (max-width: 550px) {
    flex-direction: column;
  }

}
img{
  max-width: 100%;
  height: auto;
}

h3{
  font-size: 0.95vw;
  font-family: 'Josefin Sans', sans-serif;
}

.card {
  position: relative;
  width: 25%;
  margin: 3%;
  box-shadow: 1px 1px 5px #999;
  border-radius: 5%;
  background: white;

  @media (max-width: 815px) {
    width: 48%;
  }

  @media (max-width: 550px) {
    width: 100%;
  }

  &__inner {

    h2 {
      color: #000000;
      margin: 0;
      font-family: 'Josefin Sans', sans-serif;
      text-decoration-line: overline;
      padding: 5%;
      font-size: 2vw;

      small {
        font-style: italic;
        display: inherit;
      }
    }

  }

  &__buttons {
    position: absolute;
    width: 100%;
    transform: translateY(0);
    transition: transform .5s ease;

    div {
      position: relative;
      float: left;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: black;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      &:first-child {
        background: #fff;
        border-right: 1px solid #ccc;
      }

      &:hover {
        color: #ffde00;
        background: #999;
      }

    }

  }

  &:hover {
    .card__buttons {
      transform: translateY(-38px);
    }
  }

  &__tagline {
    font-size: 1rem;
    font-weight: 100;
    padding : 2%;
  }

  p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  }

}
.card_icon{
padding: 5%;
}
