<div class="main-container-dashboard">
  <div class="title-dashboard">
    <h2 >Dashboard</h2>
  </div>

  <ul class="cards">
    <li class="card">
      <div class="card_icon">
        <img src="../../../assets/img/icon2.gif" alt="">
      </div>
      <div class="card__inner" [routerLink]="['/statistics']" >
        <h2>Statistics</h2>
      </div>
      <h3 class="card__tagline">Statistics of the future demand</h3>

    </li>
    <li class="card">
      <div class="card_icon">
        <img src="../../../assets/img/icon1.gif" alt="">
      </div>
      <div class="card__inner" [routerLink]="['/workshop']">
        <h2>Workshop </h2>
      </div>
      <h3 class="card__tagline">Alter data set and the formula</h3>

    </li>
    <li class="card">
      <div class="card_icon">
        <img src="../../../assets/img/icon3_14.gif" alt="">
      </div>
      <div class="card__inner" [routerLink]="['/information']">
        <h2>Information </h2>
      </div>
      <h3 class="card__tagline">View more info about Electricity demand</h3>
    </li>
  </ul>
</div>