<!DOCTYPE html>
<html>

<body>
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add Data
  </a></li>
  <li> <a routerLink="/delete">
    Delete Data
  </a></li>
  <li> <a routerLink="/update">
    Update Data
  </a></li>
  <li> <a routerLink="/view">
    View Data
  </a></li>
</ul>
<div class="container">
  <h1>Enter details to add data  </h1>
  <form >
    <div class="form-group">
      <label for="name">Year *</label>
      <input type="text" class="form-control" id="addYear" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Population *</label>
      <input type="text" class="form-control" id="addPopulation" ng-model="error1" required>

    </div>

    <div class="form-group">
      <label for="alterEgo">GDP per capita *</label>
      <input type="text" class="form-control" id="addGDP1" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Domestic Consumer Account*</label>
      <input type="text" class="form-control" id="addDom" required >
    </div>

    <div class="form-group">
      <label for="alterEgo">GDP for Agriculture Sector*</label>
      <input type="text" class="form-control" id="addGDP2" required >
    </div>

    <div class="form-group">
      <label for="alterEgo">GDP for Service Sector *</label>
      <input type="text" class="form-control" id="addGDP3" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Average Electricty Price *</label>
      <input type="text" class="form-control" id="addAvg" required>
    </div>



    <button type="submit" class="btn btn-success button" (click) = "passAdd()">Submit</button>
    <button type="reset" class="btn btn-success button" value="Reset">Reset</button>
  </form>
</div>

</body>
</html>

