<!DOCTYPE html>
<html>

<body>
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add Data
  </a></li>
  <li> <a routerLink="/delete">
    Delete Data
  </a></li>
  <li> <a routerLink="/update">
    Update Data
  </a></li>
  <li> <a routerLink="/view">
    View Data
  </a></li>
</ul>
<div class="container">
  <h1>Enter details to add data  </h1>
  <form >

    <div class="form-group">
      <label for="year">Year *</label>
      <input id="year" type="text" class="form-control" id="addYear" [(ngModel)]="DemandForecast.year" name="year" required>
    </div>

    <div class="form-group">
      <label for="population">Population *</label>
      <input id="population" type="text" class="form-control" [(ngModel)]="DemandForecast.population " name="population" required>
    </div>

    <div class="form-group">
      <label for="gdpperCap">GDP per capita *</label>
      <input id="gdpperCap" type="text" class="form-control" [(ngModel)]="DemandForecast.gdpperCap" name="gdpperCap" required>
    </div>

    <div class="form-group">
      <label for="domesticConsumer">Domestic Consumer Account*</label>
      <input id="domesticConsumer" type="text" [(ngModel)]="DemandForecast.domesticConsumer" class="form-control"  name="domesticConsumer" required >
    </div>

    <div class="form-group">
      <label for="gdpagri">GDP for Agriculture Sector*</label>
      <input id="gdpagri" type="text" class="form-control" [(ngModel)]="DemandForecast.gdpagri" name="gdpagri"  required >
    </div>

    <div class="form-group">
      <label for="gdpservice">GDP for Service Sector *</label>
      <input id="gdpservice" type="text" class="form-control" [(ngModel)]="DemandForecast.gdpservice" name="gdpservice" required>
    </div>

    <div class="form-group">
      <label for="avgElectricity">Average Electricty Price *</label>
      <input id="avgElectricity" type="text" class="form-control" [(ngModel)]="DemandForecast.avgElectricity" name="avgElectricity" required>
    </div>

    <div class="form-group">
      <label for="eSales">Electricity Sales *</label>
      <input id="eSales" type="text" class="form-control" [(ngModel)]="DemandForecast.eSales" name="eSales" required>
    </div>

    <div class="form-group">
    <label for="eClass">Electricity Class *</label>
      <input id="eClass" type="text" class="form-control" [(ngModel)]="DemandForecast.eClass" name="eClass" required>
    </div>



    <button type="submit" class="btn btn-success button" (click)= "saveDF()">Submit</button>
    <button type="reset" class="btn btn-success button" (click)="newDF()" value="Reset">Reset</button>
  </form>
</div>

</body>
</html>

