<!DOCTYPE html>

<head>

<title>Log In</title>

</head>
<body>
<div class="container">
    <section id="content">
        <form >
            <h1>Login Form</h1>
            <div>
                <input type="text" name="username" required="" id="username" >
                
            </div>
            <div>
                <input type="text" name="password" required="" id="password" >
            </div>
            <div>
                <input type="submit" value="Log in" (click)="LoginUser()" >
           
            </div>
        </form>
        
    </section>
</div>
</body>
