input[type=text], select {
    width: 90%;
    padding: 12px px;
    margin: 10px 130px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 90%;
    padding: 12px px;
    margin: 10px 130px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #46464e;
    color: white;
    padding: px 20px;
    margin: 8px 170px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #08080c;
  }
  
  div {
    width: 40%;
    border-radius: 25px;
    background-color:  #c6cbd6;
    padding: 20px ;
    
  }

  h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }