<html>
    <head>
        <title>Electricity GenerationS</title>
    </head>
    <body>
        <h2>Electricity Generation</h2>
        <div class = "grid1">


            <div class="divisions">
                <div class = "division1" (click)="displayBlock1()">Electricity Generation</div>
                <div class = "division2" (click)="displayBlock2()">Maximum Demand</div>
                <div class = "division3" (click)="displayBlock3()">System Losses </div>
                <div class = "division4" (click)="displayBlock4()">Electricity Sales (Billed)</div>
                <div class = "division5" (click)="displayBlock5()">Fuel Consumption & Fuel Cost</div>
            </div>


            <div id = "block">
                <h2 class = "topic">{{infoTitle}}</h2>
                <div id = "para"></div>
            </div>
        </div>

    </body>    
</html>