<html>
    <head>
        <title>Electricity GenerationS</title>
    </head>
    <body>
        
        <button (click)="displayBlock4()">Electricity Generation</button>
        <div id = "block4">
            <h2>{{infoTitle4}}</h2>
            <p>{{para1}}</p>
        </div>

        <button (click)="displayBlock5()">Maximum Demand</button>
        <div id = "block5">
            <h2>{{infoTitle5}}</h2>
            <p>{{para2}}</p>
        </div>

        <button (click)="displayBlock6()">System Losses </button>
        <div id = "block6">
            <h2>{{infoTitle6}}</h2>
            <p>{{para3}}</p>
        </div>

        <button (click)="displayBlock7()">Electricity Sales (Billed)</button>
        <div id = "block7">
            <h2>{{infoTitle7}}</h2>
            <p>{{para4}}</p>
        </div>

        <button (click)="displayBlock8()">Fuel Consumption & Fuel Cost</button>
        <div id = "block8">
            <h2>{{infoTitle8}}</h2>
            <p>{{para5}}</p>
        </div>
    </body>    
</html>