
<div class="navbar-container"
    [class.mat-elevation-z17]="!isActive"
    [class.mat-elevation-z15]="isActive">
  <mat-toolbar mat-elevation-z17>
  <mat-toolbar-row>
    <img class="logo" src="../../../assets/img/logo.JPG" alt="">
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="10px">

        <button mat-raised-button>
          <img src="../../../assets/img/github-logo.svg" alt="" style="width: 22px;"/>
           Star
          </button>

        <li>
          <button mat-icon-button>
            <i class="material-icons">
              settings
              </i>
          </button>
        </li>

        <li>
            <!-- <button mat-button [matMenuTriggerFor]="menu"> -->
              <button mat-button routerLink="/login">
              <i class="material-icons">
              account_circle
              </i> LOGIN
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Profile</button>
              <button mat-menu-item>SignOut</button>
            </mat-menu>
        </li>

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>