<div
  class="navbar-container"
  [class.mat-elevation-z17]="!isActive"
  [class.mat-elevation-z15]="isActive"
>
  <mat-toolbar mat-elevation-z17>
    <mat-toolbar-row>
      <img class="logo" src="../../../assets/img/Capture.png" alt="" />
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="10px">
          <li>
          <button mat-button>
            <a href="https://github.com/melanisilva/e-static">
            <img
              src="../../../assets/img/icons/github.png"
              alt=""
              style="width: 30px;"
            />
            Star
            </a>
          </button>
          </li>
          <li>
            <button mat-button>
              <img
                src="../../../assets/img/icons/settings.png"
                alt=""
                style="width: 30px;"
              />
              settings
            </button>
          </li>

          <li>
            <button mat-button routerLink="/login">
              <img
                src="../../../assets/img/icons/login.png"
                alt=""
                style="width: 30px;"
              />
              Login
            </button>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
