navbar-container{
  position: relative;
}
ul li{
  list-style: none;
  padding-right: 5%;
}
.logo{
    width: 120px;
    float: left;
}
mat-toolbar{
  background: #ffffff;  /* fallback for old browsers */
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: #00a8cc;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  mat-button{
    padding-right: 3%;
  }

}
mat-elevation-z2{
  position: relative;
  z-index: 2;
}

