container{
  position: relative;
}
ul li{
  list-style: none;
}
.logo{
    height: 40px;
    float: left;
}
mat-toolbar{
  background: #8e9eab;  /* fallback for old browsers */
  position: relative;
  z-index: 2;

}
mat-elevation-z2{
  position: relative;
  z-index: 2;
}

mat-raised-button{
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  cursor: pointer;
}
button{
  margin-right: 10px;
}