<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
        <link rel="stylesheet" href="information.component.scss">
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
    <body>

        <header>
                <h1>{{title}}</h1>
        </header>

        <button (click)="displayBlock1()"> Display block 1!</button>
        <div id = "block1">
            <div class = "grid1">
                <div class="divisions">
                    <div class="division1" (click)="division1()">1</div>
                    <div class="division2" (click)="division2()">2</div>
                    <div class="division3" (click)="division3()">3</div>  
                    <div class="division4" (click)="division4()">4</div>
                </div>

                <div class = "information-display">
                    <h2>{{infoTitle}}</h2>
                    <div id = "table1"></div>
                </div>



            </div>
        </div>

        <button (click)="displayBlock2()"> Display block 2!</button>
        <div id = "block2">
            <div id = "table2"></div>
        </div>

        <button (click)="displayBlock3()"> Display block 3!</button>
        <div id = "block3">
            <div id = "table3"></div>
        </div>

        
        <footer></footer>
    </body>
</html>