.mainGrid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  margin-top: 150px;
  margin-left: 150px;
  text-align: center;
  justify-content: space-evenly;
}

.div1,.div2,.div3{
  width: 300px;
  height: 400px;
  margin: 1%;
  box-shadow: 1px 1px 6px #999;
  border-radius: 4.5%;
  background: white;
}
