<!DOCTYPE html>
<html>
    <head>
        <title>Information</title>
        <link rel="stylesheet" href="information.component.scss">
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
    <body>
        <div class="mainGrid">

            <div class = 'div1' [routerLink]="['/distribution-division']">
                <div class="card_icon">
                </div>
                <div class="card__inner">
                    <h2>Deviation Destributions</h2>
                </div>
            </div>

            <div class = 'div2' [routerLink]="['/installed-capacity']">
                <div class="card_icon">
                </div>
                <div class="card__inner">
                    <h2>Installed Capacity</h2>
                </div>
            </div>
            <div class = 'div3' [routerLink]="['/electricity-generation']">
                <div class="card_icon">
                </div>
                <div class="card__inner">
                    <h2>Electricity Generation</h2>
                </div>
            </div>
        </div>
    </body>
</html>