header,footer{
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 105px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

h1,h2{
  text-align: center;
}

#block1{
  display: none;
}

.grid1{
  display: grid;
  grid-template-columns: 40% 60% ;
  grid-gap: 10px;
  padding: 10px;
}

.information-display{
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.divisions {
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;
  padding: 10px;
}

.divisions > div {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.division1{
  grid-column: 1 / span 2;
}

.division4{
  grid-column: 1 / span 2;
}

button{
  margin: 20px;
}