.mapdiv {
  width:20%;
  margin-left: 100px;
  margin-top: 30px;
  height: 1000px;
}

#division1{
  fill: #FFC937;
  stroke: rgb(204, 160, 39);
  stroke-width: 2px;
  transition: fill 0.3s;
}

#division2{
  fill:#B4FC78 ;
  stroke: rgb(124, 207, 57) ;
  stroke-width: 2px;
  transition: fill 0.3s;
}

#division3{
  fill:#FF68A9 ;
  stroke:#E84189;
  stroke-width: 2px;
  transition: fill 0.3s;
}

#division4{
  fill: #995CEF;
  stroke: #7833D7;
  stroke-width: 2px;
  transition: fill 0.3s;
}



#division1:hover , #division2:hover ,#division3:hover ,#division4:hover{
  fill: #ffffff;
}


header,
footer {
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 100px;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
}
