
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Data Set </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Year </label>
                  <input type="text" class="form-control"  placeholder="year" value=" ">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Population</label>
                  <input type="text" class="form-control" placeholder="Population" value=" ">
                </div>
              </div>

              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>GDP</label>
                  <input type="text" class="form-control" placeholder="GDP" value=" ">
                </div>
              </div>
             
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>GDP</label>
                  <input type="text" class="form-control" placeholder="GDP" value=" ">
                </div>
              </div>

              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>GDP</label>
                  <input type="text" class="form-control" placeholder="GDP" value=" ">
                </div>
              </div>
            </div>
      
         


</form>
</div>
</div>
</div>
</div>
</div>
        

