<!DOCTYPE html>
<html>

<body>
<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>



  <div class="col">
    <div class="container-2">
      <a routerLink="/add" class="btn btn-one">
        <span>Add Data  </span>
      </a>
    </div>

    <div class="container-2">
      <a routerLink="/delete" class="btn btn-one">
        <span>Delete Data </span>
      </a>
    </div>
  </div>

  <div class="col">
    <div class="container-1">
      <a routerLink="/update" class="btn btn-one">
        <span>Update Data</span>
      </a>
    </div>

    <div class="container-1">
      <a routerLink="/view" class="btn btn-one">
        <span>View Data </span>
      </a>
    </div>
  </div>


</body>
</html>

