<div class="main-container">
  <div class="title">
    <h2>Future Demand Forecast</h2>
  </div>
  <div>
    <div class="card-list">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card lighter">
            <div class="title">all projects</div>
            <i class="zmdi zmdi-upload"></i>
            <div class="value">89</div>
            <div class="stat"><b>13</b>% increase</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card light">
            <div class="title">team members</div>
            <i class="zmdi zmdi-upload"></i>
            <div class="value">5,990</div>
            <div class="stat"><b>4</b>% increase</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card dark">
            <div class="title">total budget</div>
            <i class="zmdi zmdi-download"></i>
            <div class="value">$80,990</div>
            <div class="stat"><b>13</b>% decrease</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card darker">
            <div class="title">new customers</div>
            <i class="zmdi zmdi-download"></i>
            <div class="value">3</div>
            <div class="stat"><b>13</b>% decrease</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
