<html>
    <head>
        <title>Distribution Division</title>
    </head>
    <body>

        <h2>Distribution Division</h2>
        <div class = "grid1">
            <div class="divisions">
                <!-- buttons for the relavent information-->
                <div class="division1" (click)="division1()">Division - 1</div>
                <div class="division2" (click)="division2()">Division - 2</div>
                <div class="division3" (click)="division3()">Division - 3</div>  
                <div class="division4" (click)="division4()">Division - 4</div>
            </div>

            <div class = "information-display">
                <!-- Area of display-->
                <h2 id = "topic">{{infoTitle}}</h2>
                <div id = "table1"></div>
            </div>



        </div>

    </body>
</html>