
<!DOCTYPE html>
<html>

<body>
<router-outlet></router-outlet>
<ul>
  <li> <a routerLink="/add">
    Add Data 
  </a></li>
  <li> <a routerLink="/delete">
    Delete Data 
  </a></li>
  <li> <a routerLink="/update">
    Update Data 
  </a></li>
  <li> <a routerLink="/view">
    View Data 
  </a></li>
</ul>
<div>
<div class="container">
  <h1>Enter the year to delete data  </h1>
  <form >
    <div class="form-group">
      <label for="name">Year *</label>
      <input class="form-control" id="year" required>
        
      
    </div>

    <button type="submit" class="btn btn-success button" (click) = "deleteTutorial()">Submit</button>
    <button type="reset" class="btn btn-success button" value="Reset">Reset</button>
  </form>
  
</div>
</div>
</body>
</html>
