<p>delete works!</p>
<!DOCTYPE html>
<html>

<body>
<router-outlet></router-outlet>


<div class="container">
  <h1>Enter details </h1>
  <form >
    <div class="form-group">
      <label for="name">Year *</label>
      <select class="form-control" id="year" required>
     
      </select>
    </div>

    <div class="form-group">
      <label for="alterEgo">Population *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">GDP *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Variable 1 *</label>
      <input type="text" class="form-control" id="alterEgo" required >
    </div>
   
    <div class="form-group">
      <label for="alterEgo">Variable 2 *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Variable 3 *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <div class="form-group">
      <label for="alterEgo">Variable 4 *</label>
      <input type="text" class="form-control" id="alterEgo" required>
    </div>

    <button type="submit" class="btn btn-success button">Submit</button>

  </form>
</div>

</body>
</html>
