<html>
    <head>
        <title>Installed Capacity</title>
    </head>
    <body>

        <h2>Installed Capacity</h2>
        <div class = "grid1">
            <div class="divisions">
                <div class="division1" (click)="displayBlock1()"> The Total Installed Capacity Summary</div>
                <div class="division2" (click)="displayBlock2()">The Total Installed Capacity Of CEB</div>
                <div class="division3" (click)="displayBlock3()"> The Total Installed Capacity Of Private</div>
            </div>
            <div id = "block">
                <h2 id = "topic">{{infoTitle}}</h2>
                <div id = "table"></div>
            </div>
        </div>
            
    </body>
</html>
