.grid1{
    display: grid;
    padding: 10px;
  }

  .divisions{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 50px;
    margin-left: 70px;
  }

  
  .division1,.division2,.division3{
    text-align: center;
    display: inline-block;
    padding: 25px 15px 0;
    text-transform: uppercase;
    font-size: 0.95vw;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10%;
    height: 70px;
    border-radius: 4.5%;
  }



.division1 {
    background-color: #e4dbf3;
    color:#424874 ;
  }

.division2 {
    background-color: #a6b1e1;
  }

.division3 {
    background-color: #424874;
    color:#e4dbf3 ;
  }

  
  h2{
    margin-top: 20px;
    text-align: center;
    font-family: "Montserrat";
  }

#topic{
  margin-bottom: 50px;
  margin-top: 50px;
}

.block{
    margin-top: 4%;
  }