<html>
    <head>
        <title>Installed Capacity</title>
    </head>
    <body>
        <button (click)="displayBlock2()">The total Installed Capacity Of CEB</button>
        <div id = "block2">
            <h2>{{infoTitle2}}</h2>
            <h1></h1>
            <div id = "table2"></div>
        </div>

        <button (click)="displayBlock3()"> The total Installed Capacity Of Private</button>
        <div id = "block3">
            <h2>{{infoTitle3}}</h2>
            <div id = "table3"></div>
        </div>
    </body>
</html>
