:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer{
  width: 20%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
  padding: 20px;
  background-image: url("../../../assets/img/background-gray.svg");
}
