<div class="main-container">
  <div class="title">
    <h2>Future Demand Forecast for 50 Years</h2>
  </div>
  <div>
    <div class="card-list">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card lighter">
            <div class="title">Current Population</div>
            <div class="value"></div>
            <div class="stat"><b>13</b>% increase</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card light">
            <div class="title">Current Electricity Demand</div>
            <div class="value"></div>
            <div class="stat"><b>4</b>% increase</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card dark">
            <div class="title">Future Population</div>
            <div class="value"></div>
            <div class="stat"><b>13</b>% decrease</div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card darker">
            <div class="title">Future Demand</div>
            <div class="value"> </div>
            <div class="stat"><b>13</b>% decrease</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Demand Forecast Chart-->
  <div>
    <li class="card main">
      <div class="demand-chart-wrapper">
        <canvas
          baseChart
          [datasets]="demandChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
    </li>
  </div>
</div>
