<!DOCTYPE html>

<head>

<title>Log In</title>

</head>
<body>
<div class="container">
    <section id="content">
        <form action="">
            <h1>Login Form</h1>
            <div>
                <input type="text" placeholder="Username" required="" id="username" [(ngModel)]="Username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" [(ngModel)]="Username"  />
            </div>
            <div>
                <input type="submit" value="Log in" />
           
            </div>
        </form>
        
    </section>
</div>
</body>
