<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<mat-nav-list>
  <!-- <div class="profile-card">
    <img src="../../../assets/img/chris.jfif" alt="" />
    <div class="header">
      <h2>Chris Evans</h2>
      <h4>chriseve@gmail.com</h4>
    </div>
  </div> -->
  <h2 class="side-bar-title" matSubheader >FEATURES</h2>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <img src="../../../assets/img/icons/dashboard.png">
    DashBoard
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/statistics">
    <img src="../../../assets/img/icons/statistics.png">
    Statistics
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/workshop">
    <img src="../../../assets/img/icons/workshop.png">
    Workshop
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/information"
  >
  <img src="../../../assets/img/icons/info.png">
    Information
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <img src="../../../assets/img/icons/settings.png">
    Settings
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
