<mat-nav-list>
  <!-- <div class="profile-card">
    <img src="../../../assets/img/chris.jfif" alt="" />
    <div class="header">
      <h2>Chris Evans</h2>
      <h4>chriseve@gmail.com</h4>
    </div>
  </div> -->

  <h2 matSubheader>FEATURES</h2>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <i class="material-icons">table_chart</i>
    DashBoard
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/statistics">
    <i class="material-icons">insert_chart</i>
    Statistics
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/workshop">
    <i class="material-icons">extension</i>
    Workshop
  </a>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/information"
  >
    <i class="material-icons">library_books</i>
    Information
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <i class="material-icons">settings</i>
    Settings
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>
